* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

hr {
  xborder-top: 1px solid black;
}

.App {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: hidden;
}

.Editor {
  background: #e0e0e0;
  height: 100%;
}

r {
  display: inline;
  background-color: #ffddcc;
}

/* .Editor textarea {
  width: calc(100% - 4px - 4px);
  height: 200px;
  margin: 4px;
  padding: 4px;
} */

main {
  background: #e0e0e0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 16px 32px 20px 20px 200px 1fr;
  grid-gap: 8px;

  grid-template-areas:
    'header header'
    'h1 h1'
    'tabs tabs'
    'left-bar right-bar';

  height: 100%;
}

main input[type=number] {
  width: 48px;
  text-align: right;
}

main > * {
  overflow-y: auto;
}

main header {
  grid-area: header;
  overflow-y: hidden;
}

main h1 {
  grid-area: h1;
  overflow-y: hidden;
}

main .tabs {
  grid-area: tabs;
}

main .tabs button {
  padding: 4px 16px 4px;
  border: 1px solid grey;
  background-color: lightgray;
  border-bottom: 0;
  border-radius: 4px 4px 0 0;
  margin: 0 2px;
}

main .tabs button.active {
  background-color: white;
  
}
 
main .leftBar {
  grid-area: left-bar;
  overflow-y: hidden;
}

main .leftBar label {
  margin-right: 16px;
}

main .rightBar {
  grid-area: right-bar;
  overflow-y: hidden;
}

main .rightBar label {
  margin-right: 16px;
}

main textarea {
  width: 100%;
  height: 100%;
  padding: 8px;
}

main fieldset {
  padding-bottom: 16px;
  width: 100%;
  height: calc(100% - 16px);
}

.Preview {
  background: white;
  height: 100%;
}

.Preview-inner {
}

button {
  background: transparent;
  border: 0;
  cursor: pointer;
}
